* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#nav *,
#nav ::after,
#nav ::before {
    box-sizing: content-box;
}

html,
body {
    height: 100%;
    line-height: normal !important;
}

legend {
    color: #167ac6 !important;
    font-weight: bolder !important;
}

footer {
    width: 100%;
    height: 100px !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

#content {
    /* ... */
    padding-bottom: 110px;
    /* El tamaño del footer para evitar el sobreposicionamiento */
}

.items-footer {
    background: rgb(179 220 252 / 80%);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-top: 4px solid #0066ff;
    line-height: 1.8em;
}

#nav a:link,
#nav a:visited {
    display: block;
    width: 100%;
    background-color: #0066FF;
    text-decoration: none;
    font-family: calibri;
    font-size: 16px;
    color: #FFFFFF;

}

#nav a:hover {
    background-color: #0088FF
}

#nav ul li {
    display: inline-block;
    position: relative;
}

#nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    /* padding-bottom: 10px; */
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

#nav ul ul {
    position: absolute;
    display: none;
}

#nav ul li a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    margin: 8px;
    border: solid 0.1px;
}

#nav ul ul li {
    display: block;
}

#nav ul li:hover ul {
    margin-top: -5px;
    background: #0066FF;
    display: block;
    width: auto;
    padding-right: 18px;
    z-index: 99999999 !important;
}

#nav ul li:hover ul a {
    background: none !important;
    border: none;
}

#nav ul li:hover ul li a:hover {
    background-color: #0088FF !important;
}

#wrapper {
    min-height: 100%;
    position: relative;
    background-image: url("../assets/img/background_1.jpg");
}

#login {
    text-decoration: none;
    background: none;
}

.container-header {
    margin-top: -2px;
    display: flex;
    background: rgb(179 220 252 / 80%);
    border-bottom: 4px solid #0066ff;
    line-height: 0 !important;
}

.logo {
    /* animation-duration: 5s;
    animation-name: aparecer; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.name-header {
    margin-top: 2.5rem;
    color: red;
    font-weight: bold;
}

.icons-header {
    display: flex;
    justify-content: flex-end;
}

.center {
    text-align: center;
    margin-bottom: 10px;
}

.card {
    border-radius: 20px !important;
    background-color: #f2f1ef !important;
    padding: 10px;
    margin: 10px;
    border: 4px solid #0066ff !important;
}

.fixed-whatsapp {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    cursor: pointer;
}

.icono-contactenos:hover {
    transform: scale(1.2)
}

.space-5 {
    line-height: 5rem;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    font-size: 20px !important;
    cursor: pointer;
    display: initial !important;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.fa-instagram {
    background: #f40083;
    color: white;
}

.fa-google {
    background: #de2125;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-paypal {
    background: #3B5998;
    color: white;
}

.fa-credit-card {
    background: #bb0000;
    color: white;
}

.fa-money {
    background: #f40083;
    color: white;
}

.fa-phone {
    color: #3B5998;
}

.fa-whatsapp {
    color: green;
}

.height-promocion {
    min-height: 98% !important;
}

.item-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

.item-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.item-1 {
    flex: 0 0 100%;
    max-width: 100%;
}

.responsive-iframe {
    width: 90%;
}

.icon-header {
    font-size: 40px !important;
    margin-top: 10px;
    color: #3b5998;
}

.text-icon-header {
    color: #3b5998;
    font-weight: bolder;
    margin-top: 10px;
    padding-left: 20px;
}

.icon-card {
    font-size: 40px !important;
}

.card-form-login {
    border-radius: 10px;
    background: white;
    width: 450px;
}

.form-contacto {
    display: grid;
    justify-items: center;
    width: 100%;
}

.logo-img {
    height: 95px;
    width: 120px;
}

.productos-img {
    height: 180px;
    max-width: 95%;
}

.productos-img:hover {
    transform: scale(1.2);
}


@media (max-width: 860px) {
    .item-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .item-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container-header .item-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    footer {
        height: auto;
    }
}

@media (max-width: 1024px) {
    .text-icon-header {
        display: none;
    }

    .name-header {
        display: none;
    }

    .productos-img:hover {
        transform: none;
    }

}

@media (max-width: 420px) {
    .item-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .item-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .fixed-whatsapp {
        bottom: 225px;
    }
}